<div class="filter-wrapper">
	<div class="filters">
		<div class="item-types">
			<div class="item-type">
				Available
			</div>
			<div class="item-type active">
				Reserved
			</div>
			<div class="item-type">
				Sold
			</div>
		</div>
		<div class="search-form">
			<input type="text">
		</div>
	</div>
	<div class="items-filter" [formGroup]="filterForm">
		<p class="filter-title">Filter Items</p>
			<mat-form-field>
				<mat-label>Select Item Type</mat-label>
				<mat-select formControlName="itemsType">
					<mat-option *ngFor="let type of itemTypes" [value]="type">{{type}}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field class="countries-filter">
				<mat-label>Filter by Countries</mat-label>
				<mat-select multiple formControlName="countries">
					<mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-paginator class="paginator" (page)="onPage($event)" [length]="totalItems" [pageIndex]="currentPageIndex" [hidePageSize]="true" [pageSize]="itemsPerPage">
			</mat-paginator>
	</div>
	<div class="total-filtered">
		<div class="info-block number-of-items">
			<img src="assets/images/items-icon.svg" alt="">
			<div class="info-text">
				<div>
					<p class="title">NUMBER OF ITEMS</p>
					<p class="value">{{ totalSelectedItems }}</p>
				</div>
				<div>
					<img src="assets/images/three-dots-icon.svg" alt="">
				</div>
			</div>
		</div>
		<div class="info-block">
			<img src="assets/images/statistic-icon.svg" alt="">
			<div class="info-text">
				<p class="title">TOTAL NET WEIGHT</p>
				<p class="value">984.71 MT</p>
			</div>
		</div>
	</div>
</div>