<div class="item">
	<div class="item-header">
		<p class="item-id">{{ item?.number }}</p>
		<p class="item-description">{{ item?.commodity }}
		</p>
	</div>
	<div class="item-info-wrapper">
		<img class="chart-icon" src="assets/images/chart-icon.svg" alt="">
		<div class="item-info">
			<p class="item-title">NEW WEIGHT</p>
			<p class="item-value">{{ item?.netWeightLBS }} T</p>
		</div>
	</div>
	<div class="item-info-wrapper location">
		<img src="assets/images/location.svg" alt="">
		<div class="item-info">
			<p class="item-title">{{ item?.origin }}</p>
			<p class="item-value">{{ item?.port }}</p>
		</div>
	</div>
</div>
