<div class="header-wrapper">
  <div class="header-left-side horizontal-left vertical-center h-100">
    <div class="company vertical-center h-100">
      Company Logo
    </div>
    <div class="header-menu horizontal-left vertical-center h-100">
      <div class="menu-link link-dashboard" routerLink="dashboard">
        <img src="assets/images/items-mode.svg" alt="">
        <span class="menu-link-title">Dashboard</span>
      </div>
      <div class="menu-link link-items" routerLink="items">
        <img src="assets/images/menu-icon.svg" alt="">
        <span class="menu-link-title">Items</span>
      </div>
      <div class="menu-link link-deals" routerLink="deals">
        <img src="assets/images/deals.svg" alt="">
        <span class="menu-link-title">Deals</span>
      </div>
    </div>
  </div>
  <div class="header-right-side center-both">
    <img src="assets/images/user.svg" alt="">
  </div>
</div>