/* You can add global styles to this file, and also import other style files */
@import 'styles/core-styles.scss';
@import 'styles/base-styles.scss';
@import 'styles/fonts.scss';
@import 'styles/special-styles.scss';

body {
	font-family: "Roboto",sans-serif;
	font-weight: 300;
	font-size: 14px;
	padding: 0;
	margin: 0;
}

span, p, h1, h2, h3, h4, h5, a, div, input {
  outline: none;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

h2 {
  font-size: 35px;
  font-weight: 500;
}

h3 {
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-size: 25px;
  font-weight: 500;
}

strong, .text-bold {
  font-weight: bold;
  letter-spacing: -0.4px;
}

p {
  margin-top: 0em;
  margin-bottom: 1.65em;
  line-height: 1.5em;
}



a {
  outline: none;
}